<div class="content-wrap">

    <div class="recentlyViewedBlock" style="display: none; margin: 0 auto 20px auto; width: 100%">
        <div><%- page.l.watched %>:</div>
        <div id="recentlyViewed"></div>
    </div>

    <nav class="footer-nav js-footer-nav">
        <ul>
            <li><a href="/<%- page.urls.year %>"><%- page.l.years %></a></li>
            <li><a href="/<%- page.urls.country %>"><%- page.l.countries %></a></li>
            <li><a href="/<%- page.urls.genre %>"><%- page.l.genres %></a></li>
            <li><a href="/<%- page.urls.actor %>"><%- page.l.actors %></a></li>
            <li><a href="/<%- page.urls.director %>"><%- page.l.directors %></a></li>
        </ul>
    </nav>

    <% if (page.social) { %>
        <section class="social">
            <% if (page.social.vk) { %>
                <span class="vk">
                    <a href="<%- page.social.vk %>" class="tooltip" title="<%= page.l.vk %>" target="_blank"><%- page.l.vk %></a>
                </span>
            <% } %>
            <% if (page.social.facebook) { %>
                <span class="facebook">
                    <a href="<%- page.social.facebook %>" class="tooltip" title="<%= page.l.facebook %>" target="_blank"><%- page.l.facebook %></a>
                </span>
            <% } %>
            <% if (page.social.twitter) { %>
                <span class="twitter">
                    <a href="<%- page.social.twitter %>" class="tooltip" title="<%= page.l.twitter %>" target="_blank"><%- page.l.twitter %></a>
                </span>
            <% } %>
            <% if (page.social.youtube) { %>
                <span class="youtube">
                    <a href="<%- page.social.youtube %>" class="tooltip" title="<%= page.l.youtube %>" target="_blank"><%- page.l.youtube %></a>
                </span>
            <% } %>
            <% if (page.social.instagram) { %>
                <span class="instagram">
                    <a href="<%- page.social.instagram %>" class="tooltip" title="<%= page.l.instagram %>" target="_blank"><%- page.l.instagram %></a>
                </span>
            <% } %>
            <% if (page.social.telegram) { %>
                <span class="telegram">
                    <a href="<%- page.social.telegram %>" class="tooltip" title="<%= page.l.telegram %>" target="_blank"><%- page.l.telegram %></a>
                </span>
            <% } %>
        </section>
    <% } %>
    <p class="copyright">
        &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.io" target="_blank">CinemaPress</a> | <%- page.l.contacts %>:
        <span id="mylo">Activate JS</span>
        <script>(function(d,i,l,r){d.getElementById(i).innerHTML = l + '@' + r;})(window.document, 'mylo', '<%- page.email.split('@')[0] %>', '<%- page.email.split('@')[1] %>');</script>
    </p>

    <script>
      WebFontConfig = {
        google: { families: ['Play'] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    <script>
      (function() {
        var dataAllSrc = document.querySelectorAll('[data-cinemapress-src],[data-cinemapress-bg-src]');
        var dataAllSrcCount = (dataAllSrc && dataAllSrc.length) || 0;
        var dataAllSrcCountComp = 0;
        var fSrc = {
          'dataCountImage': function() {
            dataAllSrcCountComp = dataAllSrcCountComp+1;
            if (dataAllSrcCount && dataAllSrcCountComp >= dataAllSrcCount) {
              dataAllSrcCount = 0;
              setTimeout(function() {
                fSrc['checkLoad'](dataAllSrc, 'dataSetImage');
              }, 1);
            }
          },
          'dataSetImage': function(el) {
            var src = el.dataset.cinemapressSrc;
            var bgSrc = el.dataset.cinemapressBgSrc;
            if (!src && !bgSrc) return;
            var img = new Image();
            img.src = src ? src : bgSrc;
            img.onload = function() {
              if (src) { el.src = src; }
              else { el.style.backgroundImage = 'url("' + bgSrc + '")';}
            }
          },
          'checkLoad': function(els, fn) {
            if (!els) return;
            els.forEach(function(src) {
              if (typeof src.complete === 'undefined' || src.complete) {
                fSrc[fn](src);
              } else {
                src.addEventListener('load', function() {
                  fSrc[fn](this);
                }, { once: true });
              }
            });
          }
        }
        fSrc['checkLoad'](dataAllSrc, 'dataCountImage');
      })();
    </script>

    <%- page.codes.footer %>

</div>