<header id="header">
    <section>
        <div style="height: 15px;"></div><div class="logo"></div>
        <div class="react-component">
            <div>
                <nav id="main-nav">
                    <ul>
                        <li class="films-page main-nav-films">
                            <a href="<%- page.protocol %><%- page.domain %>" class="has-icon">
                                <span class="icon"></span>Главная
                            </a>
                        </li>
                        <li class="films-page main-nav-films">
                            <% page.urls.years.slice(0,1).forEach(function(year) { %>
                            <a href="<%- year.url %>" class="has-icon">
                                <span class="icon"></span>Новинки
                            </a>
                            <% }); %>
                        </li>
                        <li class="films-page main-nav-films">
                            <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>" class="has-icon">
                                <span class="icon"></span>Сериалы
                            </a>
                        </li>
                        <li class="films-page main-nav-films continueViewingBlock" style="display: none">
                            <a href="javascript:void(0)" class="has-icon icon-16 icon-watched small-watched no-avatars" id="continueViewing" title="На чем остановились?">
                                <span class="icon" style="margin-top: 8px;"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <form id="search" class="js-search-form search-form" action="/<%- page.urls.search %>/title" method="get" style="display: block; z-index: 901;">
            <fieldset>
                <label for="search-q" class="hidden">Поиск:</label>
                <input type="text" name="q" id="search-q" class="field -borderless">
                <input type="submit" value="Найти" class="action">
            </fieldset>
        </form>
    </section>
</header>