<% if (typeof page.adv === 'object' && page.adv.brand) { %>
    <%- page.adv.brand %>
<% } %>
<header id="header">
    <section>
        <div style="height: 15px;"></div>
        <div class="logo"
             style="background-image:url('/themes/<%- page.theme %>/public/images/logo.png?v=<%- page.ver %>');"></div>
        <div class="react-component">
            <div>
                <nav id="main-nav">
                    <ul>
                        <li class="films-page main-nav-films">
                            <a href="<%- page.protocol %><%- page.domain %>" class="has-icon">
                                <span class="icon"></span><%- page.l.home %>
                            </a>
                        </li>
                        <li class="films-page main-nav-films">
                            <% page.urls.years.slice(0, 1).forEach(function(year) { %>
                                <a href="<%- year.url %>" class="has-icon">
                                    <span class="icon"></span><%- page.l.premieres %>
                                </a>
                            <% }); %>
                        </li>
                        <li class="films-page main-nav-films">
                            <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>" class="has-icon">
                                <span class="icon"></span><%- page.l.series %>
                            </a>
                        </li>
                        <li class="films-page main-nav-films continueViewingBlock" style="display: none">
                            <a href="javascript:void(0)" class="has-icon icon-16 icon-watched small-watched no-avatars"
                               id="continueViewing" title="<%= page.l.continue %>">
                                <span class="icon" style="margin-top: 8px;"></span>
                            </a>
                        </li>
                        <div class="randomMovieMenu">
                            <li class="films-page main-nav-films cinemapress-random-menu">
                                <a href="/?random=<%- Math.random() %>" class="no-avatars" title="<%= page.l.lucky %>">
                                    <img src="/themes/<%- page.theme %>/public/images/dice.svg"
                                         alt="<%= page.l.lucky %>">
                                </a>
                            </li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <form id="search" class="js-search-form search-form" action="/<%- page.urls.search %>" method="get"
              style="display: block; z-index: 901;">
            <fieldset>
                <label for="search-q" class="hidden"><%- page.l.search %>:</label>
                <input type="text" name="q" id="search-q" class="field -borderless" data-autocomplete="desktop">
                <input type="submit" value="<%- page.l.search %>" class="action">
            </fieldset>
            <div class="cinemapress-autocomplete" data-autocomplete="desktop"></div>
        </form>
    </section>
</header>